.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
body {
	overflow: hidden !important;
}

.portfolio {
	display: block;
	overflow: scroll;
	max-width: 100%;
	width: 100%;
	-ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

	&::-webkit-scrollbar {
		display: none;
	}

	ul {
		font-size: 0;
		list-style: none;
		white-space: nowrap;
	}
	
	li {
		display: inline-block;
		white-space: normal;
		margin-left: 50px;
	}
}

.portfolio-cover {
	position: relative;
	cursor: none;
}

.img_title {
    display: table;
	position: absolute;
	font-size: 40px;
}

.image_container {
    cursor: none;
    display: table;    
}